<!DOCTYPE html>
<html>
<head>
  <title>Ums</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- NOTE: Added this flash errors, which allows for any :errors called for across the site to trigger on any HTML page. This prevents code repetition!!!  -->
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
